.select-shift-container{
    text-align: center;
    margin-top: -1rem;
    padding: 0.5rem 0rem;
  }
  
  .scheduler-container{
    max-width: 100%;
    min-height: calc(100vh - 64px);
    max-height: calc(100vh - 64px);
    display: flex;
    justify-content: center;
    align-items: center;
  }