body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.login-background-container {
  animation: cssAnimation 0s 1s forwards;
  visibility: hidden;
  padding-right: 0px;
  padding-left: 0px;
  height: 100vh;
  margin: auto;
  background-image: url(https://source.unsplash.com/random/800x600);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.blur {
  height: 100%;
  width: 100%;
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes cssAnimation {
  from {
    visibility: hidden;
  }
  to {
    visibility: visible;
  }
}
